/* Contenedor principal de ofertas */
.ofert {
    padding: 2cm 0 0 0; /* Ajusta el espaciado superior */
    display: flex; /* Usa flexbox para alinear los productos en una sola línea */
    justify-content: space-between; /* Distribuye los productos de manera uniforme */
    flex-wrap: wrap; /* Permite que los productos se ajusten automáticamente a la línea */
    gap: 1cm;  /* Espacio entre los productos */
}

/* Estilo para cada oferta individual */
.ofert-1 {
    flex-basis: calc(33.3% - 1.5cm); /* Establece el ancho de cada producto */
    background-color: #F5F5F5;
    border: 1px solid #ddd; /* Borde alrededor de cada producto */
    border-radius: 5px; /* Añade bordes redondeados */
    box-sizing: border-box; /* Incluye el borde en el ancho total */
    text-align: center; /* Centra el contenido horizontalmente */
    padding: 1.5cm; /* Espaciado interno uniforme */
}

/* Estilo para la imagen de la oferta */
.ofert-img {
    text-align: center; /* Centra la imagen horizontalmente */
}

.ofert-img img {
    max-width: 100%; /* Asegura que la imagen se ajuste al recuadro */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 200px; /* Establece una altura máxima para la imagen */
}

.ofert-text {
    padding: 0; 
}

.ofert-text h3 {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 20px; /* Reduce el tamaño del texto */
    text-transform: uppercase;
    margin-bottom: 10px; /* Reduce el margen inferior */
}

/* Estilo para el botón */
.btn-2 {
    display: inline-block;
    padding: 5px 8px; /* Reduce el padding del botón */
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 12px; /* Reduce el tamaño del texto del botón */
    text-decoration: none; /* Evita subrayado enlaces */
}
